.wp-admin-fb-modal {
    display: none;
    position: fixed;
    width: 550px;
    height: auto;
    top: 50%;
    left: 50%;
    background: #fff;
    color: #444;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    z-index: 100000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: optimizeQuality;
    text-rendering: optimizeLegibility;

    [class^="icon-"]:before,
    [class*=" icon-"]:after,
    [class^="icon-"]:after,
    [class*=" icon-"]:before {
        font-family: 'dashicons';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    [class^="icon-"] span.hidden,
    [class*=" icon-"] span.hidden {
        display: inline-block;
        height: 0;
        width: 0;
        overflow: hidden;
    }

    .icon-arrow-right:before {
        content: "\f345";
    }

    .icon-arrow-left:before {
        content: "\f341";
    }

    .icon-arrow-down:before {
        content: "\f347";
    }

    .icon-arrow-up:before {
        content: "\f343";
    }

    .icon-rollback:before {
        content: "\f531";
    }

    .icon-help:before {
        content: "\f223";
    }

    .icon-important:before {
        content: "\f534";
    }

    .icon-information:before {
        content: "\f348";
    }

    .icon-check:before {
        content: "\f147";
    }

    .icon-check2:before {
        content: "\f12a";
    }

    .icon-close:before {
        content: "\f158";
    }

    .header {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: justify;
                justify-content: space-between;
        padding: 0 16px 0 32px;
        border-bottom: 1px solid #eee;
    }

    .header > div {
        display: -webkit-box;
        display: flex;
    }

    .footer {
        display: block;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: justify;
                justify-content: space-between;
        height: auto;
        padding: 16px 0 0 0;
        background: #F5F5F5;

        div.deactivation-options {
            padding: 0 32px;

            input[type="email"] {
                margin: 1em 0;
                width: 100%;
            }

            a.button-secondary {
                float: right;
            }
        }

        div.what-will-be-sent {
            padding: 14px;
            text-align: center;
        }

        div.whats-sent {
            background-color: #c8ebfb;
            display: none;
            padding: 8px 32px;

            ul {
                list-style: disc;
            }
        }
    }

    .button {
        font-weight: 500;
        box-shadow: none;
        height: 30px;
        border-bottom-width: 3px;
    }

    .button-primary.isDisabled {
        opacity: 0.2;
        color: #fff !important;
        cursor: not-allowed;
        pointer-events: none;
    }

    ul li {
        padding: 4px 0;
    }

    h2,
    h3 {
        display: inline-block;
        font-size: 1rem;
        line-height: 1.1875;
    }

    h2 {
        max-width: 430px;
        font-weight: 600;
        color: #23282D;
        margin: 12px 0;
    }

    h3 {
        font-weight: bold;
        color: #3D474E;
        margin: 8px 0;
    }

    input[type=radio] {
        margin-top: 1px;
        margin-right: 8px;
    }

    .close {
        font-size: 0;
        color: #aaa;
        border: none;
        background: none;
        cursor: pointer;

        &:hover { 
            color: #008ec2;
        }

        &:before {
            font-size: 1.25rem;
            line-height: 1;
        }
    }

    .return {
        display: none;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 0;
        color: #777;
        position: relative;
        width: 28px;
        left: -12px;

        &.isOpen {
            display: inline-block;
        }

        &:before {
            font-size: 14px;
            display: inline-block;
        }

        &:hover,
        &:focus {
            outline: none;
            color: #008ec2;
        }
    }

    .cancel {
        color: #0073aa;
        text-decoration: underline;
        margin-left: 8px;
        line-height: 28px;
        border: none;
        background: none;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            color: #008ec2;
        }
    }

    .question {
        display: none;

        &.isOpen {
            display: block;
        }
    }

    .content {
        padding: 8px 32px;
    }

    .fieldHidden {
        display: none;
        padding-left: 26px;
        margin-top: 8px;

        &.isOpen {
            display: block;
        }

        input[type=text],
        textarea {
            border: 2px solid #A9ADB0;
            font-size: 12px;
            border-radius: 3px;
            transition: border 150ms ease-out;
            -webkit-transition: border 150ms ease-out
        }

        input[type=text]:focus,
        textarea:focus {
            outline: none;
            box-shadow: none;
            border-color: #777;
        }

        input[type=text]::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            color: #ccc;
        }

        input[type=text]::-moz-placeholder,
        textarea::-moz-placeholder {
            color: #ccc;
            opacity: 1;
        }

        input[type=text] :-ms-input-placeholder,
        textarea :-ms-input-placeholder {
            color: #ccc;
        }

        input[type=text]::-ms-input-placeholder,
        textarea::-ms-input-placeholder {
            color: #ccc;
        }

        input[type=text]::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            color: #ccc;
        }

        input[type=text]::-moz-placeholder,
        textarea::-moz-placeholder {
            color: #ccc;
        }

        input[type=text]:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            color: #ccc;
        }

        input[type=text]::placeholder,
        textarea::placeholder {
            color: #ccc;
        }

        input[type=text] {
            width: 300px;
            height: 30px;
        }

        textarea {
            width: 100%;
            height: 60px;
            padding: 5px;
        }
    }

    .hidden {
        display: none;

        &.isOpen {
            display: block;
        }

        button {
            cursor: pointer;
            border: none;
            margin-bottom: 24px;
        }

        .text-center {
            text-align: center;
        }

        h3 {
            display: none !important;
        }

        a:not(.external-button) {
            color: #1B9AAA !important;
        }

        a:not(.external-button):hover {
            color: #0073aa !important;
        }
    }

    .external-button {
        position: relative;
        display: inline-block;
        width: auto;
        padding: 8px 24px;
        text-align: center;
        background: #a37aff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: -0.08px;
        font-weight: bold;
        border-radius: 4px;
        color: #fff !important;
        white-space: nowrap;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all 200ms ease-out;
        -webkit-transition: all 200ms ease-out;
        font-size: .8125rem;
        line-height: 1.53846;

        .external-button:hover,
        .external-button:focus {
            color: #fff !important;
        }

        &.small {
            padding: 5px 0;
            letter-spacing: -0.08px;
            font-size: .6875rem;
            line-height: 1.81818;
        }

        &.icon {
            min-width: 160px;
            padding-left: 8px;
            padding-right: 40px;
            text-align: left;
        }

        &.icon:before {
            position: absolute;
            right: 8px;
            font-size: .9375rem;
            line-height: 1.33333;
        }

        &.fixed {
            position: fixed;
            display: -webkit-box;
            display: flex;
            padding: 8px 16px;
            right: 24px;
            bottom: 32px;
            border-radius: 16px;
        }

        &.fixed:before {
            font-size: 1.125rem;
            line-height: 1;
            margin-right: 8px;
        }

        .external-button:focus {
            outline: none;
            color: #fff !important;
        }
    }
}

.wp-admin-fb-modal-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
}

/* RTL */
html[dir=rtl] .header {
    padding: 0 32px 0 16px;
}

html[dir=rtl] .return {
    left: 12px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
