.wp-admin-fb-modal {
	background: #fff;
	border-radius: 3px;
	color: #444;
	height: auto;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: optimizeQuality;
	text-rendering: optimizeLegibility;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	opacity: 0;
	overflow: scroll;
	visibility: hidden;

	@media screen and (max-width: 926px) and (max-height: 428px) {
		position: relative;
	}

	@media screen and (min-width: 810px) {
		left: 50%;
		top: 50%;
		max-width: 600px;
		overflow: clip;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}

	[class^="icon-"]:before,
	[class*=" icon-"]:after,
	[class^="icon-"]:after,
	[class*=" icon-"]:before {
		font-family: "dashicons";
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	[class^="icon-"] span.hidden,
	[class*=" icon-"] span.hidden {
		display: inline-block;
		height: 0;
		width: 0;
		overflow: hidden;
	}

	.icon-arrow-right:before {
		content: "\f345";
	}

	.icon-arrow-left:before {
		content: "\f341";
	}

	.icon-arrow-down:before {
		content: "\f347";
	}

	.icon-arrow-up:before {
		content: "\f343";
	}

	.icon-rollback:before {
		content: "\f531";
	}

	.icon-help:before {
		content: "\f223";
	}

	.icon-important:before {
		content: "\f534";
	}

	.icon-information:before {
		content: "\f348";
	}

	.icon-check:before {
		content: "\f147";
	}

	.icon-check2:before {
		content: "\f12a";
	}

	.icon-close:before {
		content: "\f158";
	}

	.header {
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		justify-content: space-between;
		padding: 0 16px 0 32px;
		border-bottom: 1px solid #eee;
	}

	.header > div {
		display: -webkit-box;
		display: flex;
	}

	.footer {
		display: block;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		justify-content: space-between;
		height: auto;
		padding: 16px 0 0 0;
		background: #f5f5f5;

		div.deactivation-options {
			padding: 0 32px;

			input[type="email"] {
				margin: 1em 0;
				width: 100%;
			}

			@media screen and (max-width: 428px) {
				.skip-feedback {
					display: none;
					clear: both;
					text-align: center;
				}

				.skip-feedback,
				.send-feedback,
				.cancel {
					width: 100%;
				}

				.cancel {
					clear: both;
					margin: 0;
				}
			}

			.action-btns {
				@media screen and (min-width: 810px) {
					float: right;
				}
				@media screen and (max-width: 428px) {
					width: 100%;
				}

				.skip-feedback {
					display: none;
					opacity: 0;
					visibility: hidden;

					@media screen and (max-width: 428px) {
						display: inherit;
						opacity: 1;
						visibility: visible;
					}
				}

				.action-spinner {
					display: none;

					img {
						margin-top: 3px;

						@media screen and (max-width: 428px) {
							margin-top: 10px;
							margin-left: 1rem;
							position: fixed;
						}
					}
				}
			}
		}

		div.what-will-be-sent {
			clear: both;
			padding: 14px;
			text-align: center;
		}

		div.whats-sent {
			background-color: #2271b1;
			bottom: 0;
			box-sizing: border-box;
			color: #fff;
			width: 100%;
			height: 0;
			left: 0;
			overflow: hidden;
			padding: 8px 16px 0 32px;
			position: absolute;
			transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s;
			-webkit-transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s;
			z-index: 99999999999999999;
			opacity: 0;
			visibility: hidden;

			&.active {
				height: 220px;
				opacity: 1;
				visibility: visible;

				@media screen and (max-width: 428px) {
					height: 240px;
				}
			}

			ul {
				list-style: disc;
				list-style-position: inside;
				margin: 0;

				li {
					padding: 0;
				}
			}
		}
	}

	.button-primary.isDisabled {
		opacity: 0.2;
		color: #fff !important;
		cursor: not-allowed;
		pointer-events: none;
	}

	ul li {
		padding: 4px 0;
	}

	h2,
	h3 {
		display: inline-block;
		font-size: 1rem;
		line-height: 1.1875;
	}

	h2 {
		max-width: 430px;
		font-weight: 600;
		color: #23282d;
		margin: 12px 0;
	}

	h3 {
		font-weight: bold;
		color: #3d474e;
		margin: 8px 0;
	}

	input[type="radio"] {
		margin-top: 1px;
		margin-right: 8px;
	}

	.close {
		font-size: 0;
		color: #aaa;
		border: none;
		background: none;
		cursor: pointer;

		&:hover {
			color: #008ec2;
		}

		&:before {
			font-size: 1.25rem;
			line-height: 1;
			padding: 0.6em;
		}

		&.close-whats-sent {
			color: #fff;
			float: right;

			@media screen and (max-width: 428px) {
				padding: 1rem;
				margin-right: -12px;
			}
		}
	}

	.return {
		display: none;
		border: none;
		background: none;
		cursor: pointer;
		font-size: 0;
		color: #777;
		position: relative;
		width: 28px;
		left: -12px;

		&.isOpen {
			display: inline-block;
		}

		&:before {
			font-size: 14px;
			display: inline-block;
		}

		&:hover,
		&:focus {
			outline: none;
			color: #008ec2;
		}
	}

	.cancel {
		cursor: pointer;
		font-weight: 500;
		line-height: 28px;
		margin-left: 8px;
	}

	.question {
		display: none;

		&.isOpen {
			display: block;
		}
	}

	.content {
		padding: 8px 32px;

		ul {
			li {
				label {
					display: inline-grid;
				}
			}
		}

		@media screen and (max-height: 926px) {
			ul {
				font-size: 14px;
				letter-spacing: 0.01rem;
				margin: 0;
				max-height: 360px;
				overflow: auto;
			}
		}

		#feedback {
			box-sizing: border-box;
			height: 60px;
			padding: 6px 8px;
			width: 100%;
		}
	}

	.content-overlay {
		background: rgba(106, 106, 106, 0.4);
		position: fixed;
		top: 44px;
		width: 100%;
		height: 100%;
		overflow: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease-in-out;

		&.content-overlay-active {
			opacity: 1;
			visibility: visible;
		}
	}

	.fieldHidden {
		display: none;
		padding-left: 26px;
		margin-top: 8px;

		&.isOpen {
			display: block;
		}

		input[type="text"],
		textarea {
			border: 2px solid #a9adb0;
			font-size: 12px;
			border-radius: 3px;
			transition: border 150ms ease-out;
			-webkit-transition: border 150ms ease-out;
		}

		input[type="text"]:focus,
		textarea:focus {
			outline: none;
			box-shadow: none;
			border-color: #777;
		}

		input[type="text"]::-webkit-input-placeholder,
		textarea::-webkit-input-placeholder {
			color: #ccc;
		}

		input[type="text"]::-moz-placeholder,
		textarea::-moz-placeholder {
			color: #ccc;
			opacity: 1;
		}

		input[type="text"] :-ms-input-placeholder,
		textarea :-ms-input-placeholder {
			color: #ccc;
		}

		input[type="text"]::-ms-input-placeholder,
		textarea::-ms-input-placeholder {
			color: #ccc;
		}

		input[type="text"]::-webkit-input-placeholder,
		textarea::-webkit-input-placeholder {
			color: #ccc;
		}

		input[type="text"]::-moz-placeholder,
		textarea::-moz-placeholder {
			color: #ccc;
		}

		input[type="text"]:-ms-input-placeholder,
		textarea:-ms-input-placeholder {
			color: #ccc;
		}

		input[type="text"]::placeholder,
		textarea::placeholder {
			color: #ccc;
		}

		input[type="text"] {
			width: 300px;
			height: 30px;
		}

		textarea {
			width: 100%;
			height: 60px;
			padding: 5px;
		}
	}

	.hidden {
		display: none;

		&.isOpen {
			display: block;
		}

		button {
			cursor: pointer;
			border: none;
			margin-bottom: 24px;
		}

		.text-center {
			text-align: center;
		}

		h3 {
			display: none !important;
		}

		a:not(.external-button) {
			color: #1b9aaa !important;
		}

		a:not(.external-button):hover {
			color: #0073aa !important;
		}
	}

	.external-button {
		position: relative;
		display: inline-block;
		width: auto;
		padding: 8px 24px;
		text-align: center;
		background: #a37aff;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: -0.08px;
		font-weight: bold;
		border-radius: 4px;
		color: #fff !important;
		white-space: nowrap;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transition: all 200ms ease-out;
		-webkit-transition: all 200ms ease-out;
		font-size: 0.8125rem;
		line-height: 1.53846;

		.external-button:hover,
		.external-button:focus {
			color: #fff !important;
		}

		&.small {
			padding: 5px 0;
			letter-spacing: -0.08px;
			font-size: 0.6875rem;
			line-height: 1.81818;
		}

		&.icon {
			min-width: 160px;
			padding-left: 8px;
			padding-right: 40px;
			text-align: left;
		}

		&.icon:before {
			position: absolute;
			right: 8px;
			font-size: 0.9375rem;
			line-height: 1.33333;
		}

		&.fixed {
			position: fixed;
			display: -webkit-box;
			display: flex;
			padding: 8px 16px;
			right: 24px;
			bottom: 32px;
			border-radius: 16px;
		}

		&.fixed:before {
			font-size: 1.125rem;
			line-height: 1;
			margin-right: 8px;
		}

		.external-button:focus {
			outline: none;
			color: #fff !important;
		}
	}
}

.wp-admin-fb-modal-overlay {
	background: rgba(0,0,0,.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	overflow: auto;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;

	&.wp-admin-fb-modal-active {
		opacity: 1;
		visibility: visible;
	}
}

/* RTL */
html[dir="rtl"] .header {
	padding: 0 32px 0 16px;
}

html[dir="rtl"] .return {
	left: 12px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
