.wp-admin-fb-modal {
  background: #fff;
  border-radius: 3px;
  color: #444;
  height: auto;
  left: 50%;
  position: fixed;
  top: 50%;
  width: 600px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 100000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: optimizeQuality;
  text-rendering: optimizeLegibility;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  overflow: auto;
  visibility: hidden; }
  .wp-admin-fb-modal.active {
    opacity: 1;
    visibility: visible; }
  .wp-admin-fb-modal [class^="icon-"]:before,
  .wp-admin-fb-modal [class*=" icon-"]:after,
  .wp-admin-fb-modal [class^="icon-"]:after,
  .wp-admin-fb-modal [class*=" icon-"]:before {
    font-family: "dashicons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wp-admin-fb-modal [class^="icon-"] span.hidden,
  .wp-admin-fb-modal [class*=" icon-"] span.hidden {
    display: inline-block;
    height: 0;
    width: 0;
    overflow: hidden; }
  .wp-admin-fb-modal .icon-arrow-right:before {
    content: "\f345"; }
  .wp-admin-fb-modal .icon-arrow-left:before {
    content: "\f341"; }
  .wp-admin-fb-modal .icon-arrow-down:before {
    content: "\f347"; }
  .wp-admin-fb-modal .icon-arrow-up:before {
    content: "\f343"; }
  .wp-admin-fb-modal .icon-rollback:before {
    content: "\f531"; }
  .wp-admin-fb-modal .icon-help:before {
    content: "\f223"; }
  .wp-admin-fb-modal .icon-important:before {
    content: "\f534"; }
  .wp-admin-fb-modal .icon-information:before {
    content: "\f348"; }
  .wp-admin-fb-modal .icon-check:before {
    content: "\f147"; }
  .wp-admin-fb-modal .icon-check2:before {
    content: "\f12a"; }
  .wp-admin-fb-modal .icon-close:before {
    content: "\f158"; }
  .wp-admin-fb-modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 32px;
    border-bottom: 1px solid #eee; }
  .wp-admin-fb-modal .header > div {
    display: flex; }
  .wp-admin-fb-modal .footer {
    display: block;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 16px 0 0 0;
    background: #f5f5f5; }
    .wp-admin-fb-modal .footer div.deactivation-options {
      padding: 0 32px; }
      .wp-admin-fb-modal .footer div.deactivation-options input[type="email"] {
        margin: 1em 0;
        width: 100%; }
      .wp-admin-fb-modal .footer div.deactivation-options .action-btns {
        float: right; }
        .wp-admin-fb-modal .footer div.deactivation-options .action-btns .action-spinner {
          display: none; }
          .wp-admin-fb-modal .footer div.deactivation-options .action-btns .action-spinner img {
            margin-top: 3px; }
    .wp-admin-fb-modal .footer div.what-will-be-sent {
      padding: 14px;
      text-align: center; }
    .wp-admin-fb-modal .footer div.whats-sent {
      background-color: #c8ebfb;
      display: none;
      padding: 8px 32px; }
      .wp-admin-fb-modal .footer div.whats-sent ul {
        list-style: disc; }
  .wp-admin-fb-modal .button-primary.isDisabled {
    opacity: 0.2;
    color: #fff !important;
    cursor: not-allowed;
    pointer-events: none; }
  .wp-admin-fb-modal ul li {
    padding: 4px 0; }
  .wp-admin-fb-modal h2,
  .wp-admin-fb-modal h3 {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.1875; }
  .wp-admin-fb-modal h2 {
    max-width: 430px;
    font-weight: 600;
    color: #23282d;
    margin: 12px 0; }
  .wp-admin-fb-modal h3 {
    font-weight: bold;
    color: #3d474e;
    margin: 8px 0; }
  .wp-admin-fb-modal input[type="radio"] {
    margin-top: 1px;
    margin-right: 8px; }
  .wp-admin-fb-modal .close {
    font-size: 0;
    color: #aaa;
    border: none;
    background: none;
    cursor: pointer; }
    .wp-admin-fb-modal .close:hover {
      color: #008ec2; }
    .wp-admin-fb-modal .close:before {
      font-size: 1.25rem;
      line-height: 1; }
  .wp-admin-fb-modal .return {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0;
    color: #777;
    position: relative;
    width: 28px;
    left: -12px; }
    .wp-admin-fb-modal .return.isOpen {
      display: inline-block; }
    .wp-admin-fb-modal .return:before {
      font-size: 14px;
      display: inline-block; }
    .wp-admin-fb-modal .return:hover, .wp-admin-fb-modal .return:focus {
      outline: none;
      color: #008ec2; }
  .wp-admin-fb-modal .cancel {
    cursor: pointer;
    font-weight: 500;
    line-height: 28px;
    margin-left: 8px; }
  .wp-admin-fb-modal .question {
    display: none; }
    .wp-admin-fb-modal .question.isOpen {
      display: block; }
  .wp-admin-fb-modal .content {
    padding: 8px 32px; }
    .wp-admin-fb-modal .content #feedback {
      box-sizing: border-box;
      height: 60px;
      padding: 6px 8px;
      width: 100%; }
  .wp-admin-fb-modal .fieldHidden {
    display: none;
    padding-left: 26px;
    margin-top: 8px; }
    .wp-admin-fb-modal .fieldHidden.isOpen {
      display: block; }
    .wp-admin-fb-modal .fieldHidden input[type="text"],
    .wp-admin-fb-modal .fieldHidden textarea {
      border: 2px solid #a9adb0;
      font-size: 12px;
      border-radius: 3px;
      transition: border 150ms ease-out;
      -webkit-transition: border 150ms ease-out; }
    .wp-admin-fb-modal .fieldHidden input[type="text"]:focus,
    .wp-admin-fb-modal .fieldHidden textarea:focus {
      outline: none;
      box-shadow: none;
      border-color: #777; }
    .wp-admin-fb-modal .fieldHidden input[type="text"]::-webkit-input-placeholder,
    .wp-admin-fb-modal .fieldHidden textarea::-webkit-input-placeholder {
      color: #ccc; }
    .wp-admin-fb-modal .fieldHidden input[type="text"] :-ms-input-placeholder,
    .wp-admin-fb-modal .fieldHidden textarea :-ms-input-placeholder {
      color: #ccc; }
    .wp-admin-fb-modal .fieldHidden input[type="text"]::-webkit-input-placeholder,
    .wp-admin-fb-modal .fieldHidden textarea::-webkit-input-placeholder {
      color: #ccc; }
    .wp-admin-fb-modal .fieldHidden input[type="text"]:-ms-input-placeholder,
    .wp-admin-fb-modal .fieldHidden textarea:-ms-input-placeholder {
      color: #ccc; }
    .wp-admin-fb-modal .fieldHidden input[type="text"]::-webkit-input-placeholder, .wp-admin-fb-modal .fieldHidden textarea::-webkit-input-placeholder {
      color: #ccc; }
    .wp-admin-fb-modal .fieldHidden input[type="text"]:-ms-input-placeholder, .wp-admin-fb-modal .fieldHidden textarea:-ms-input-placeholder {
      color: #ccc; }
    .wp-admin-fb-modal .fieldHidden input[type="text"]::placeholder,
    .wp-admin-fb-modal .fieldHidden textarea::placeholder {
      color: #ccc; }
    .wp-admin-fb-modal .fieldHidden input[type="text"] {
      width: 300px;
      height: 30px; }
    .wp-admin-fb-modal .fieldHidden textarea {
      width: 100%;
      height: 60px;
      padding: 5px; }
  .wp-admin-fb-modal .hidden {
    display: none; }
    .wp-admin-fb-modal .hidden.isOpen {
      display: block; }
    .wp-admin-fb-modal .hidden button {
      cursor: pointer;
      border: none;
      margin-bottom: 24px; }
    .wp-admin-fb-modal .hidden .text-center {
      text-align: center; }
    .wp-admin-fb-modal .hidden h3 {
      display: none !important; }
    .wp-admin-fb-modal .hidden a:not(.external-button) {
      color: #1b9aaa !important; }
    .wp-admin-fb-modal .hidden a:not(.external-button):hover {
      color: #0073aa !important; }
  .wp-admin-fb-modal .external-button {
    position: relative;
    display: inline-block;
    width: auto;
    padding: 8px 24px;
    text-align: center;
    background: #a37aff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -0.08px;
    font-weight: bold;
    border-radius: 4px;
    color: #fff !important;
    white-space: nowrap;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    font-size: 0.8125rem;
    line-height: 1.53846; }
    .wp-admin-fb-modal .external-button .external-button:hover,
    .wp-admin-fb-modal .external-button .external-button:focus {
      color: #fff !important; }
    .wp-admin-fb-modal .external-button.small {
      padding: 5px 0;
      letter-spacing: -0.08px;
      font-size: 0.6875rem;
      line-height: 1.81818; }
    .wp-admin-fb-modal .external-button.icon {
      min-width: 160px;
      padding-left: 8px;
      padding-right: 40px;
      text-align: left; }
    .wp-admin-fb-modal .external-button.icon:before {
      position: absolute;
      right: 8px;
      font-size: 0.9375rem;
      line-height: 1.33333; }
    .wp-admin-fb-modal .external-button.fixed {
      position: fixed;
      display: flex;
      padding: 8px 16px;
      right: 24px;
      bottom: 32px;
      border-radius: 16px; }
    .wp-admin-fb-modal .external-button.fixed:before {
      font-size: 1.125rem;
      line-height: 1;
      margin-right: 8px; }
    .wp-admin-fb-modal .external-button .external-button:focus {
      outline: none;
      color: #fff !important; }

.wp-admin-fb-modal-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center; }
  .wp-admin-fb-modal-overlay.wp-admin-fb-modal-active {
    opacity: 1;
    visibility: visible; }

/* RTL */
html[dir="rtl"] .header {
  padding: 0 32px 0 16px; }

html[dir="rtl"] .return {
  left: 12px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
